<div class="social-share" data-initialized="true" data-wechat-qrcode-title="扫描分享">
    <center>
        <span style="font-size:16px;color:#c05b4d;">分享到：</span>
        <a href="#" class="social-share-icon icon-weibo"></a>
        <a href="#" class="social-share-icon icon-wechat"></a>
        <a href="#" class="social-share-icon icon-twitter"></a>
        <a href="#" class="social-share-icon icon-qq"></a>
        <a href="#" class="social-share-icon icon-qzone"></a>
    </center>
</div>

<script src="/js/social-share.min.js"></script>
